body {
	font-size: 25px;
	font-family: Garamond, Georgia, Courier;
	color: navy;
	background-color: aqua;
	border-style: dotted;
	border-width: 3px;
	border-color: navy;
	text-align: center;
}

h1{
	text-align: center;
}

h3 {
	font-style: italic;
	font-size: 20px;
	line-height: 0.25;
	margin: 20px;
	text-align: center;
}

table {
	margin: 0px auto;
}

table.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

p {
	font-weight: bold;
}

a:link {
	color: navy;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color: navy;
	background-color: transparent;
	text-decoration: none;
}

a:hover {
	color: black;
	background-color: white;
	text-decoration: none;
}

a:active {
	color: navy;
	background-color: transparent;
	text-decoration: none;
}


.alert {
    padding: 20px;
    background-color: navy; 
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
